<div id="books">
{{#bookList}}
  <div id="{{uuid}}" class="book">
    <a href="/book/{{uuid}}" target="_blank">
    <img class="cover" src="/cover/{{uuid}}/cover.jpg">
    <div class="title">{{title}}</div>
    <div class="author">{{author}}</div>
    </a>
  </div>
{{/bookList}}
</div>

{{#if shortcuts}}
<script>
  document.addEventListener(
    'keydown',
    evt => {
      if (evt.key === 'h') {
        window.location === '/';
      } else if (evt.key === 't') {
        window.location = '/tags';
      }
    }
  );
</script>
{{/if}}

