<div id="tags">
Selected: {{selectedTags}}</br>
<button type="button">Submit</button></br>
Available:</br>
<input type="checkbox" id="All" name="All" value="All"/>
<label for="All">All</label></br>
{{#each availableTags}}
<input type="checkbox" id="{{this}}" name="{{this}}" value="{{this}}"/>
<label for="{{this}}">{{this}}</label></br>
{{/each}}
<input type="checkbox" id="!All" name="!All" value="!All"/>
<label for="!All">!All</label></br>
<button type="button">Submit</button>
</div>

<script>
  (function () {
    function setCookie (value) {
      const expires = new Date();
      expires.setHours(expires.getHours() + 1);
      document.cookie =
        value +
        ';expires=' + expires.toUTCString() +
        ';SameSite=Strict';
    }
    function setCookieAndGoHome () {
      const selectedTags = JSON.stringify(
        Array.from(
          document.querySelectorAll("input[type='checkbox']:checked")
        ).map(el => el.name)
      );
      setCookie('tags=' + encodeURI(selectedTags));
      window.location = '/';
    }
    document.addEventListener('click', evt => {
      if (evt.target.tagName === 'BUTTON') {
        setCookieAndGoHome();
      }
    });
    document.addEventListener(
      'keydown',
      evt => {
        if (evt.key === 'Enter') {
          setCookieAndGoHome();
        } else if (evt.key === 'a') {
          setCookie('tags=' + encodeURI('["All"]'));
          window.location = '/';
        } else if (evt.key === 'A') {
          setCookie('tags=' + encodeURI('["!All"]'));
          window.location = '/';
        }
      }
    );
  })();
</script>
