<div id="tags">
Selected: {{selectedTags}}</br>
<button type="button">Submit</button></br>
Available:</br>
<input type="checkbox" id="All" name="All" value="All"/>
<label for="All">All</label></br>
{{#each availableTags}}
<input type="checkbox" id="{{this}}" name="{{this}}" value="{{this}}"/>
<label for="{{this}}">{{this}}</label></br>
{{/each}}
<input type="checkbox" id="!All" name="!All" value="!All"/>
<label for="!All">!All</label></br>
<button type="button">Submit</button>
</div>

<script>
  (function () {
    function setCookieAndGoHome () {
      const selectedTags = JSON.stringify(
        Array.from(
          document.querySelectorAll("input[type='checkbox']:checked")
        ).map(el => el.name)
      );
      const expires = new Date();
      expires.setHours(expires.getHours() + 1);
      const cookie = "tags=" + encodeURI(selectedTags) + 
      ';expires=' + expires.toUTCString() + ';SameSite=Strict';
      document.cookie = cookie;
      window.location = '/';
    }
    document.addEventListener('click', evt => {
      if (evt.target.tagName === 'BUTTON') {
        setCookieAndGoHome();
      }
    });
    document.addEventListener('keypress', evt => {
      if (evt.keyCode === 13) { // Enter or Return
        setCookieAndGoHome();
      }
    });
  })();
</script>
